<div id="app"></div>
<script type="text/javascript">
  var serverHost = '<%= serverHost %>';
  var staticHost = '<%= staticHost %>';
</script>
<script type="text/javascript" src="<%= staticHost %><%=resource('/js/index.js')%>"></script>