<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <% if (typeof title !== undefined) { %>
    <%= title %>
    <% } %>
  </title>
  <link rel="stylesheet" type="text/css" href="<%=staticHost%><%=resource('/css/index.css')%>">
</head>
<body>
<%- body %>
</body>
</html>
